{% extends 'base.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Login Form</h1>

		<form action="{{ path('app_security_login') }}" method="post" name="login">
			<div class="form-group">
				<label for="username" class="form-label mt-4">Adresse email</label>
				<input type="email" class="form-control" id="username" name="_username" placeholder="exemple@symrecipe.fr">


			</div>
			<div class="form-group">
				<label for="password" class="form-label mt-4">Password</label>
				<input type="password" class="form-control" id="password" name="_password" placeholder="********">
			</div>

			<button type="submit" class="btn btn-primary mt-4">
				Login
			</button>
		</form>
	</div>
{% endblock %}
