{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	{% for user in users %}
		<li>{{ user.getPseudo }},
						Localisation:
			{{ user.getLocalisation }}
			{{ user.getPicture }}
		</li>
	{% endfor %}
{% endblock %}
